
.navbar.global{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000000;
    color: #fff;
}

.footer{
    background-color: #808080;
    color:#fff;
    border-top: 1px solid #000000;
    padding-top: 20px;
    padding-bottom: 20px;
}